/* .dropDownButton {
  color: #ffffff;
  position: relative;
  display: block;
  margin-right: 60px;
  border: none;
  background-color:#d4141400;
}

.dropDownButton:hover {
  color: #d9d9d9;
  background-color:#d4141400;
  cursor: pointer;
}
.dropDownButton:hover .dropDownContent {
 
}

body ul .dropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0;
} */

/* footer styles */

footer {
  background: lightblue;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  width: 60%;
  margin: 0 auto;
  /* padding: 10px 20px;   */
}

footer li {
  display: inline;
  padding-left: 30px;
  color: #C7670E;
}