nav {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  padding: 20px 80px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #DDDDDD;
}

nav ul {
  margin: 0 0;
  padding: 10px 20px;
}

nav li {
  display: inline;
  padding-left: 30px;
  color: #C7670E; 
}