footer {
  background: lightblue;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}