.inbox-page {
  width: 100%;
}

/* compliments */
.compliments {
  float: right;
  width: 50%;
  margin: 100px 0 0 0;
  text-align: left;
}

ul {
  display: inline-block;
}

li {
  padding: 10px;
}

h2 span {
  color: blue;
}
